name: Bump version
on:
  push:
    branches:
      - main
jobs:
  tag-master:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Bump version and push tag
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.1
        with:
          tag_prefix: ''
          github_token: ${{ secrets.GITHUB_TOKEN }}
